{% extends 'base.html' %}


{% block body %}
<h1 style="text-align:center">TRANSFER MONEY</h1>
<form class="pure-form pure-form-aligned" class="pure-form pure-form-stacked" action='/amount_transferred' method='POST'>
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-id">CUSTOMER ID</label>
            <input type="number" id="aligned-id" placeholder="Customer Id" name='cust_id' id='id' />
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>
        <br>
        <label for="aligned-state" style="margin-left: 10px;">SOURCE ACCOUNT TYPE</label>
            <select id="aligned-state" name='S-acctyp' id='S-acctyp'style="margin-left:30px">
                <option>Current</option>
                <option>Savings</option>
         
                </select>
        <br>
        <br>
        <label for="aligned-state" style="margin-left: 10px;">TARGET ACCOUNT TYPE</label>
            <select id="aligned-state" name='T-acctyp' id='T-acctyp'style="margin-left:30px">
                <option>Current</option>
                <option>Savings</option>
             
                </select>
        <br>
        <br>
        <div class="pure-control-group">
            <label for="aligned-id">TRANSFER AMOUNT</label>
            <input type="number" id="aligned-id" placeholder="Amount" name='t_amt' id='t_amt' />
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>
        <br>
        
            
        <div class="pure-controls">
            
            <button for="aligned-btn" type="submit" class="pure-button pure-button-primary">TRANSFER</button>
            
        </div>
    </fieldset>
</form>
{% endblock %}